<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="11" rowHeight="150px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">

        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <span *ngIf="card.content === 'current'">
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button (click)="showPieChart = 'pie';" mat-menu-item>Pie</button>
                <button (click)="showPieChart = 'donut';" mat-menu-item>Donut</button>
                <button (click)="showPieChart = 'number';" mat-menu-item>Numeric</button>
              </mat-menu>
            </span>
            <span *ngIf="card.content === 'world_wide_case'">
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button (click)="showAreaChart = true;" mat-menu-item>Line</button>
                <button (click)="showAreaChart = false;" mat-menu-item>Bar</button>
              </mat-menu>
            </span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <app-today-info *ngIf="card.content === 'current'" [showPieChart]="showPieChart"
            [currentDayChartData]="currentDayChartData"></app-today-info>
          <app-country *ngIf="card.content === 'table' && countryWiseData" [countryWiseData]="countryWiseData">
          </app-country>
          <div *ngIf="card.content === 'world_wide_case'" id="countryChart" style="width: 100%; height: 400px"></div>
          <app-historical-info *ngIf="card.content === 'world_wide_case'" [showAreaChart]="showAreaChart"
            [chartData]="historicalData">
          </app-historical-info>
          <app-world-map *ngIf="card.content === 'map'"></app-world-map>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>