
<div *ngIf="showPieChart == 'number'">
    <div class="text_value">
        <p>Covid Cases</p>
        <h1>+ {{currentDayChartData?.todayCases | numberFormat}}</h1>
        <p> {{currentDayChartData?.cases | numberFormat}} Total</p>
    </div>
    <div class="text_value">
        <p>Recovered</p>
        <h1 style="color: green;">+ {{currentDayChartData?.todayRecovered | numberFormat}}</h1>
        <p> +{{currentDayChartData?.recovered | numberFormat}} Total</p>
    </div>
    <div class="text_value">
        <p>Deaths</p>
        <h1 style="color: red;">+{{currentDayChartData?.todayDeaths | numberFormat}}</h1>
        <p> +{{currentDayChartData?.deaths | numberFormat}} Total</p>
    </div>
</div>

<div *ngIf="showPieChart == 'donut' || showPieChart == 'pie'">
    <div id="currentDayChart" style="width: 100%; height: 200px"></div>
</div>